@import "var";

body {
  padding-bottom: 80px;
  position: relative;
}

.background-destaque {
  background-color: @cor-primaria;
}

.header {
  .background-destaque;

  &__logo {
    color: #FFF;
  }
}

.opcoes-cadastro {
  margin-top: 30px;

  &__link {
    color: @cor-secundaria;
    font-size: 16px;

    &:hover {
      color: @cor-secundaria-clara;
    }
  }
}

.footer {
  .background-destaque;
  bottom: 0;
  color: #FFF;
  height: 60px;
  padding-top: 20px;
  position: fixed;
  width: 100%;
}
